:root {
	--text-color: #757575;
	--title-color: #212121;
	--accent-color: #2196f3;
	--background-color: #2f303a;
	--logo-black-color: #000000;
	--text-white-color: #ffffff;
	--background-team: #f5f4fa;
}

body {
	color: var(--text-color);
	background-color: var(--text-white-color);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin: 0;
}

/* header */
.main {
	display: flex;
	align-items: center;
}
.line {
	border-bottom: 1px solid #ececec;
}
.logo-font {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}
.logo-color {
	color: var(--accent-color);
}
.logo {
	color: var(--logo-black-color);
	margin-right: 93px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.site-nav {
	display: flex;
}
.site-nav li {
	margin-right: 50px;
}
.site-nav li:last-child {
	margin-right: 0;
}
.site-nav a {
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;

	color: var(--title-color);
	text-decoration: none;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
	color: var(--accent-color);
}
.page {
	color: var(--accent-color);
	position: relative;
}

.page::after{
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--accent-color);
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 2px;
}
.contacts {
	display: flex;
	margin-left: auto;
}
.contacts li + li {
	margin-left: 50px;
}

.contacts .contacts-email {
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;

	color: var(--text-color);
	text-decoration: none;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}
.contacts .contacts-email:hover,
.contacts .contacts-email:focus {
	color: var(--accent-color);
	fill: var(--accent-color);
}

.contacts-icon {
	margin-right: 10px;
	fill: currentColor;
}

/* hero */
.hero {
	background: var(--background-color);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/background-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 30px;

	color: var(--text-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero-button {
	border-radius: 4px;
	padding: 10px 32px;

	color: var(--text-white-color);
	background: var(--accent-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.06em;
	cursor: pointer;
	border: none;
}
/* ---------------------Чем мы занимаемся---------------- */
.section-top {
	padding-top: 94px;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.text {
	display: flex;
}
.text li {
	width: 270px;
}

.text li + li {
	margin-left: 30px;
}
.images {
	display: flex;
}
.images li + li {
	margin-left: 30px;
}
.container-text {
	width: 270px;
	height: 120px;
	background-color: var(--background-team);
	margin-bottom: 30px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-title {
	margin-top: 0;
	margin-bottom: 10px;

	color: var(--title-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
}
.section p {
	margin-top: 0;
	margin-bottom: 0;
}

.title {
	margin-bottom: 50px;
	margin-top: 0;

	color: var(--title-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
}
.images-img {
	display: block;
}

.images-thumb {
	position: relative;

	
}
.images-text {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	color: var(--text-white-color);
	font-weight: 700;
	text-transform: uppercase;
	background-color: rgba(47, 48, 58, 0.8);
	width: 100%;
	height: 70px;
}
/* ---------------------------------------НАША КОМАНДА--------------------------------- */
.team {
	background-color: var(--background-team);
}
.title-team {
	margin: 0;
	margin-bottom: 50px;

	color: var(--title-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
}
.team-foto {
	display: flex;
	text-align: center;
}
.team-foto img {
	display: block;
}
.team-card {
	background-color: var(--text-white-color);
	width: 270px;
	height: 428px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	margin-right: 30px;
}
.team-card:last-child {
	margin-right: 0;
}
.team-text {
	padding-top: 30px;
	padding-bottom: 30px;
}
.title-name {
	margin-top: 0;
	margin-bottom: 10px;

	color: var(--title-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
}
.team-text > .text-career {
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 16px;
}
/*--------------------------------*/
.social-links {
	display: flex;
	justify-content: center;
}
.social-links a {
	display: block;
	width: 44px;
	height: 44px;
	padding: 12px;
}

.social-links li {
	margin-right: 10px;
	

}
.social-links li:last-child {
	margin-right: 0;
}

.team-social {
	fill: #AFB1B8;
}
.team-social:hover,
.team-social:focus {
	fill: var(--text-white-color);
	background-color: var(--accent-color);
	border-radius: 50% 50%;
}
/* -----------------------------------Постоянные клиенты--------------------------------*/

.clients {
	display: flex;
  	
}
.clients li {
	margin-right: 30px;
}
.clients li:last-child {
	margin-right: 0;
}
.clients-icon {
	fill: #AFB1B8;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	width: 170px;
	height: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clients-icon:hover,
.clients-icon:focus {
	fill: var(--accent-color);
	border-color: var(--accent-color);
}

/* -------------------------Портфолио --------------------------*/

.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filters li + li {
	margin-left: 8px;
}
.filters-button {
	padding: 6px 22px;
	display: block;

	color: var(--title-color);
	background-color: #f5f4fa;
	border-style: none;
	border-radius: 4px;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
	color: var(--text-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project {
	display: flex;
	flex-wrap: wrap;
}

.project-subject {
	margin: 0;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	padding: 20px 24px;
	
}
.project-subject p {
	text-decoration: none;
	color: var(--text-color);
	font-size: 16px;
	line-height: 1.8;
}
.project li {
	margin-right: 30px;
	margin-bottom: 30px;
	display: block;
}
.project li:nth-child(3n) {
	margin-right: 0;
}
.project li:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.project a {
	display: block;
}
.project a:hover,
.project a:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project > li > a {
	text-decoration: none;
}
.project img {
	display: block;
}

.project-title {
	margin-top: 0;
	margin-bottom: 4px;

	color: var(--title-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	
}

.hite {
	font-size: 0;
}
/*--------------------------------- footer --------------------------------------------*/
.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--background-color);
}
.footer .container {
	display: flex;
}
.logo-footer {
	color: var(--text-white-color);
	text-decoration: none;
}
.logo-footer {
	display: block;
	margin-bottom: 20px;
}
.text-footer {
	margin-top: 0;
	margin-bottom: 9px;

	color: var(--text-white-color);
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}
.contacts-footer li {
	margin-bottom: 9px;
}
.contacts-footer li:last-child {
	margin-bottom: 0;
}
address {
	font-style: normal;
}
.contacts-footer a {
	color: var(--text-color);
	text-decoration: none;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.social-footer {
	margin-left: 70px;
}
.text-footer-social {
	color: var(--text-white-color);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.social {
	display: flex;
}
.social a {
	display: block;
	width: 44px;
	height: 44px;
	padding: 12px;
}
.social li {
	margin-right: 10px;
}
.social li:last-child {
	margin-right: 0;
}
.social-icon {
	fill: var(--text-white-color);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50% 50%;
}
.social-icon:hover,
.social-icon:focus {
	background-color: var(--accent-color);
	border-radius: 50% 50%;
}